@import url("../css/fonts.css");
body {
  margin: 0;
  background: #159957;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#155799), to(#159957));
  background: linear-gradient(to right, #155799, #159957);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Abel, sans-serif;
}

h1.logo {
  color: #fff;
  font-size: 4rem;
}

h1.end {
  position: relative;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

#container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form-box {
  background: #fff;
  position: relative;
  width: 600px;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.1), 0 6px 10px 5px rgba(0, 0, 0, 0.1), 0 6px 10px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.1), 0 6px 10px 5px rgba(0, 0, 0, 0.1), 0 6px 10px -5px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#form-box.close {
  width: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0);
}

#next-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 40px;
  color: #155799;
  float: right;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#next-btn:hover {
  color: #5ea4e9;
}

#prev-btn {
  position: absolute;
  left: 30px;
  top: 12px;
  font-size: 18px;
  color: #9e9e9e;
  float: right;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#prev-btn:hover {
  color: #5ea4e9;
}

#input-group {
  position: relative;
  padding: 30px 20px 20px 20px;
  margin: 10px 60px 10px 10px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#input-group input {
  position: relative;
  width: 100%;
  border: none;
  font-family: Abel, sans-serif;
  font-size: 20px;
  font-weight: bold;
  outline: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#input-group #input-label {
  position: absolute;
  pointer-events: none;
  top: 32px;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#input-group input:valid + #input-label {
  top: 2px;
  left: 42px;
  margin: 0 !important;
  font-size: 14px;
  font-weight: normal;
  color: #9e9e9e;
}

#input-progress {
  border-bottom: 4px solid #155799;
  width: 0%;
  -webkit-transition: width 0.6 ease-in-out;
  transition: width 0.6 ease-in-out;
}

#progress-bar {
  position: absolute;
  background: #159957;
  height: 10px;
  width: 0%;
  -webkit-transition: width 0.6 ease-in-out;
  transition: width 0.6 ease-in-out;
}

.close #next-btn,
.close #prev-btn {
  color: #fff;
}

.error #input-progress {
  border-color: #db0c05;
}

.error #next-btn {
  color: #db0c05;
}

@media (max-width: 600px) {
  #form-box {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */